@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
html {
  height: 100%;
}
body {
  background: linear-gradient(#124D81, #262C7C);
  height: 100%;
  margin: 0;
  font-family: 'Rubik';
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .Minter {
  background-color: white;
  max-width: 100vh;
  max-height: 80vh;
  padding: 60px 100px;
  margin: 0 auto;
  text-align: left;

} */
/* .container {
  padding-top: 36px;
    padding-bottom: 16px;
    border-radius: 24px 24px 0px 0px;
    position: relative;
    max-width: 900px; 
} */
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 100%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

button {
  padding: 9px 16px;
  max-height: 40px;
  border-color: #254cdd;
  color: #254cdd;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
}

#title {
  margin: 0;
}

#status {

}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

.navbar {
  display:flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: block;
    text-align: center;
  }

}
#mintButton {
  margin-top: 40px;
  background-color: #254cdd;
  color:white;
}